# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
*.js.map

# obsidian
data.json
testing-native-js.html
testing-native-js.js
testing.html
testing.ts
testing.js
.vscode/launch.json

etc/

data 0.1.10.json
